#wide_center_column
  %h2.forum-title
    = link_to "Forums Home", forums_path
    = @forum.name
  - if @forum.allowed? current_user
    = link_to "Start a new conversation", new_conversation_path(:forum_id => @forum.id), :id => "new_conversation"

    %table.conversations
      %thead
        %tr
          %th
            Title
          %th
            Author
          %th
            Last Post by

      %tbody
        = render :partial => "conversations/row", :collection => @sticky
        = render :partial => "conversations/row", :collection => @conversations

    = will_paginate @conversations
  - else
    .column.two-thirds
      Sorry, this forum is restricted
      - if @forum.restricted == "staff"
        to staff.
      - else
        to premium members.
        
      = link_to "Please check out the other forums.", forums_path