.line
  .mod
    %h2.forum-title
      = link_to @conversation.forum.name, forum_path(@conversation.forum)
      Starting a new conversation
    
  #new_conversation
    - errors = !@conversation.errors.empty? ? @conversation.errors : @post.errors
    - if not errors.empty?
      =# render :partial => "shared/error_box", :locals => { :errors => errors }
      = errors.inspect
      
    - form_for @conversation, :method => "post", :html => { :id => "new_conversation_form" } do |f|
      = f.hidden_field :forum_id
      .labelled-input
        - if @hide_title
          %h4
            Comment on the blog post: 
            %strong
              = @conversation.title
          = f.hidden_field :title
          = f.hidden_field :remote_url
        - else
          = f.label :title, "Conversation Title"
          = f.text_field :title, :maxlength => 250, :size => 45
      .labelled-input
        %label{:for => "post_text"}
          
        %textarea{:name => "post[text]" }
          = @conversation.posts.first.try(:text)
            
        = f.submit "Create Conversation", :class => "submit"
        
